/node_modules
/public/hot
/public/storage
/storage/*
!/storage/framework/cache/data/.keep
!/storage/framework/sessions/.keep
!/storage/framework/views/.keep
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
