/node_modules
/public/hot
/public/storage

/storage/*
!/storage/framework/
/storage/framework/*

!/storage/framework/cache/
/storage/framework/cache/*

!/storage/framework/cache/data/
/storage/framework/cache/data/*
!/storage/framework/cache/data/.keep

!/storage/framework/sessions/
/storage/framework/sessions/*
!/storage/framework/sessions/.keep

!/storage/framework/views/
/storage/framework/views/*
!/storage/framework/views/.keep

!/storage/app/
/storage/app/*
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/uploads/
/storage/app/public/uploads/*
!/storage/app/public/uploads/loading.gif


/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
