/node_modules
/public/hot
/public/storage
/storage
!storage/framework/cache/data/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
