@import "variables";

body {
	margin: 0;
	color: $base-font-color;
}

.before-login {
	background-color: $bg-before-login;
}

header {
	border-bottom: 1px solid $header-separater;
	padding: 0.7rem 0;
	margin-bottom: 2rem;
}

.header {
	&__contents {
		width: $header-contents-width;
		margin: 0 auto;
		padding: 0.2rem 0;
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		font-family: $logo-font;
		font-size: 2.1rem;
		flex-grow: 89;
	}
    &__logo-link {
        text-decoration: none;
        color: $base-font-color;
    }
	&__icon {
		flex-grow: 4;
		display: flex;
    	justify-content: space-between;
        color: $base-font-color;
	}
	&__img-upload {
		font-size: 1.8rem;
	}
    &__img-upload-hidden-label {
        display: none;
    }
    &__img-upload-hidden-file {
        display: none;
    }
    &__img-upload-hidden-submit {
        display: none;
    }
	&__account {
		font-size: 1.7rem;
	}
    &__account-link {
        color: $base-font-color;
    }
}

h1 {
	font-family: $logo-font;
	font-size: 3rem;
	margin: 0.5rem auto 0.5rem;
}
h2 {
	font-size: 1.2rem;
	margin: 0.5rem auto 1.5rem;
	color: $sub-font-color;
}

input {
	padding: 0.6rem;
}
input::placeholder {
	color: darkgray;
}

.domain {
	width: $form-width;
	margin: 1rem auto;
	text-align: center;
	border: 1px solid $border-color;
    background-color: white;
    padding: 1.2rem;
}

.complement {
	display: flex;
	justify-content: center;

	&__desc {
		margin: 0 0.5rem;
	}
	&__desc-link {
		color: $cta;
		text-decoration: none;
		font-weight: bold;
	}
}

.input-text {
	display: block;
	margin: $input-space auto $input-space;
	width: $input-width;
}

.cta {
	display: block;
	margin: 1.5rem auto 1rem;
	background-color: $cta;
	color: $white;
	font-size: 1.1rem;
	border-radius: 3px;
	border: none;
	padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.fa-plus-square, .fa-user-alt {
    cursor: pointer;
}
