@import "variables";

#login {}

.login {

	&__contents {
		
	}

	&__logo {
		font-family: $logo-font;
	}

	&__desc {
		color: $sub-font-color;
	}

	&__form-username, &__form-password {
	}

	&__form-submit {
	}

	&__forget-password-link {
		color: $base-font-color;
		text-decoration: none;
		font-size: $smaller;
	}

	&__has-no-account {
		// display: flex;
		// justify-content: center;
	}
	&__has-no-account-signup {
		// margin: 0 1rem;
	}
	&__has-no-account-signup-link {
		// color: $cta;
		// text-decoration: none;
		// font-weight: bold;
	}
}