@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');

$bg-before-login: #FAFAFA;
$cta: #0095F6;
$white: white;
$logo-font: 'Amaranth', sans-serif;

$header-contents-width: 51.25rem;
$post-index-width: 51.25rem;

$base-font-color: #252525;
$sub-font-color: #86868B;

$border-color: #86868B;

$header-separater: #E4E4E8;

$form-width: 31rem;
$input-width: 27rem;
$form-space: 2rem;
$input-space: 0.8rem;


$uploaded-width: 15rem;

$smaller: 0.9rem;
